In [55]:
# Dependencies and Setup
import pandas as pd

In [56]:
# File to Load (store file path)
file_path = "Resources/purchase_data.csv"

In [57]:
# Read file and store to pandas df #QUESTION - do we add encoding and is encoding="ISO-8859-1" standard or does encoding ever = something else?
purchase_data_df = pd.read_csv(file_path)

Get a sense of the data by viewing headers, summary stats and ensuring all rows have data

In [58]:
# Show header
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [59]:
# Show summary stats (NOTE: if want summary stats df, assign to a variable)
#purchase_data_df.describe()

In [60]:
#  Check if any rows have missing data
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count
Because there could be SNs with more than one item purchased, need unique count of SNs to get player count.

In [67]:
# Find out how mamy items each SN has and display total players
count_per_SN=purchase_data_df["SN"].value_counts()
player_count = len(count_per_SN)
#player_count
player_df={
    'Total Players': [player_count]
}
pd.DataFrame(player_df)

   Total Players
0            576

## Purchasing Analysis (Total)

In [102]:
# extract "Item Name", "Price", "Purchase ID" to a new dataframe
analysis_df=pd.DataFrame
analysis_df=purchase_data_df.loc[:, ["Item Name", "Price", "Purchase ID"]]
analysis_df.head()

                                   Item Name  Price  Purchase ID
0  Extraction, Quickblade Of Trembling Hands   3.53            0
1                          Frenzied Scimitar   1.56            1
2                               Final Critic   4.88            2
3                                Blindscythe   3.27            3
4                                       Fury   1.44            4

In [93]:
# Calculate Number of Unique items, 
items=analysis_df["Item Name"].value_counts()
unique_items = len(items)
#unique_items

In [103]:
# Average Purchase Price
avg_price=analysis_df["Price"].mean()
#avg_price

3.050987179487176

In [104]:
# Total Number of Purchases
total_purchases=analysis_df["Purchase ID"].count()
#total_purchases

780

In [105]:
#Total Revenue
total_revenue=analysis_df["Price"].sum()
# total_revenue

2379.77

In [111]:
# Create summary dataframe and display
analysis_summary_df = pd.DataFrame({"Total Unique Items": [unique_items],
                                    "Average Purchase Price": [avg_price],
                                    "Total Purchases": [total_purchases], 
                                    "Total Revenue": [total_revenue]})
analysis_summary_df

   Total Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0                 179                3.050987              780        2379.77