In [396]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [208]:
# File to Load (store file path)
file_path = "Resources/purchase_data.csv"

In [209]:
# Read file and store to pandas df #QUESTION - do we add encoding and is encoding="ISO-8859-1" standard or does encoding ever = something else?
purchase_data_df = pd.read_csv(file_path)

Get a sense of the data by viewing headers, summary stats and ensuring all rows have data

In [210]:
# Show header
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [211]:
# Show summary stats (NOTE: if want summary stats df, assign to a variable)
#purchase_data_df.describe()

In [212]:
#  Check if any rows have missing data and get a count of each column
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count
It is highly likely the dataset contains instances where one SN has mutiple items. Therefore, to find total players, a count of unique SNs is used.

In [213]:
# Confirm that there are SNs with mulitple items.  
count_per_SN=purchase_data_df["SN"].value_counts()
#count_per_SN

In [214]:
# Find count of unique SNs, assingn to variable and create a dataframe to hold the unique players
player_count = len(count_per_SN)
player_df={
   'Total Players': [player_count]
}

In [215]:
# Display Total Players
pd.DataFrame(player_df)

   Total Players
0            576

## Purchasing Analysis (Total)

In [216]:
# Extract "Item Name", "Price", "Purchase ID" to a new dataframe
analysis_df=pd.DataFrame
analysis_df=purchase_data_df.loc[:, ["Item Name", "Price", "Purchase ID"]]
#analysis_df.head()

In [217]:
# Calculate Number of Unique items, 
items=analysis_df["Item Name"].value_counts()
unique_items = len(items)
#unique_items

In [218]:
# Average Purchase Price
avg_price=analysis_df["Price"].mean()
#avg_price

In [219]:
# Total Number of Purchases
total_purchases=analysis_df["Purchase ID"].count()
#total_purchases

In [220]:
# Total Revenue
total_revenue=analysis_df["Price"].sum()
#total_revenue

In [221]:
# Create summary dataframe and display
analysis_summary_df = pd.DataFrame({"Total Unique Items": [unique_items],
                                    "Average Purchase Price": [avg_price],
                                    "Total Purchases": [total_purchases], 
                                    "Total Revenue": [total_revenue]})
analysis_summary_df

   Total Unique Items  Average Purchase Price  Total Purchases  Total Revenue
0                 179                3.050987              780        2379.77

## Gender Demographics

In [407]:
#find all gender types in gender column
#gender_types=purchase_data_df["Gender"].value_counts()
#gender_types
#player_gender=purchase_data_df["Gender"]

In [363]:
# Create a dataframe that will show unique players
SN=purchase_data_df["SN"]
#gender_sn_df= pd.DataFrame({"Gender": player_gender,
                            #"SN": SN})
gender_sn_df_2=purchase_data_df.drop_duplicates(subset=['Gender','SN'])
#gender_sn_df_2.count()
#gender_sn_df_2.head()

In [424]:
gender_counts=gender_sn_df_2["Gender"].value_counts()
gender_counts
gender_counts_df=pd.DataFrame({"Count": gender_counts})
gender_counts_df.head()

                       Count
Male                     484
Female                    81
Other / Non-Disclosed     11

In [430]:
percentage = gender_counts/player_count*100
percentage
gender_summary_df=pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": percentage})
gender_summary_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [431]:
#grouped=gender_sn_df_2.groupby(["Gender"])
#grouped.count().head()

## Purchasing Analysis (Gender)